modules = ["nodejs-20", "nix"]

run = "curl -o ./db/model.json https://purapi.koyeb.app/model.json && npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
